/* CSS Document */

body {
	position: relative;
}
/* Imagem topo da pagina*/
.home {
	width: 100%;
	position: relative;
	background: url(../img/Topo.jpg) no-repeat top center;
	background-size: cover;
}
#home.home {
	padding: 200px 0 150px 0;
}
/* Cor icone */

.home .page-scroll a {
	color: #ffffff;
}
/* Menu customizado */

.navbar-nav li {
	border-top: 3px solid rgba(248, 249, 250, 1);
	border-bottom: 3px solid rgba(248, 249, 250, 1);
}
.navbar-nav li.active {
	border-bottom: 3px solid rgba(255, 0, 128, 1);
}
.navbar-nav li:hover {
	border-top: 3px solid rgba(0, 0, 0, 0.5);
}
.navbar-pink {
	box-shadow: 0px 15px 30px -23px rgba(255, 0, 128, 0.4);
}
.navbar-pink .navbar-brand {
	color: rgba(0, 0, 0, 0.9);
}
.navbar-pink .navbar-brand:hover, .navbar-pink .navbar-brand:focus {
	color: rgba(255, 0, 128, 0.9);
}
.navbar-pink .navbar-nav .nav-link {
	color: rgba(0, 0, 0, 0.5);
}
.navbar-pink .navbar-nav .nav-link:hover, .navbar-pink .navbar-nav .nav-link:focus {
	color: rgba(255, 0, 128, 0.7);
}
.navbar-pink .navbar-nav .nav-link.disabled {
	color: rgba(0, 0, 0, 0.3);
}
.navbar-pink .navbar-nav .show > .nav-link, .navbar-pink .navbar-nav .active > .nav-link, .navbar-pink .navbar-nav .nav-link.show, .navbar-pink .navbar-nav .nav-link.active {
	color: rgba(255, 0, 128, 0.9);
	border-bottom: 3px solid rgba(255, 0, 128, 1);
}
.navbar-pink .navbar-toggler {
	color: rgba(0, 0, 0, 0.5);
	border-color: rgba(0, 0, 0, 0.1);
}
.navbar-pink .navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.navbar-pink .navbar-text {
	color: rgba(0, 0, 0, 0.5);
}
.navbar-pink .navbar-text a {
	color: rgba(0, 0, 0, 0.9);
}
.navbar-pink .navbar-text a:hover, .navbar-pink .navbar-text a:focus {
	color: rgba(255, 0, 128, 0.9);
}
/*Menu topo*/

.navbar {
	border-radius: 0;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.affix {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1030;
}

/* navbar collapsing */
@media(max-width:34em) {
.navbar .navbar-nav>.nav-item {
	float: none;
	margin-left: .1rem;
}
.navbar .navbar-nav {
	float: none !important;
}
.navbar .collapse.in, .navbar .collapsing {
	clear: both;
}
}
/* Conteudo */

.separar-secao {
	margin-top: 100px;
}
.separar-texto {
	margin-top: 50px;
}
.cl-pink h1 {
	color: rgba(255, 0, 128, 0.9);
}
/* Galeria */

.portfolio-box {
	position: relative;
	display: block;
	max-width: 650px;
	margin: 0 auto
}
.portfolio-box .portfolio-box-caption {
	position: absolute;
	bottom: 0;
	display: block;
	width: 100%;
	height: 100%;
	text-align: center;
	opacity: 0;
	color: #fff;
	background: rgba(255, 0, 128,.9);
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	transition: all .2s
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
	position: absolute;
	top: 50%;
	width: 100%;
	transform: translateY(-50%);
	text-align: center
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category, .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
	padding: 0 15px;
	font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
	font-size: 18px
}
.portfolio-box:hover .portfolio-box-caption {
	opacity: 1
}
.portfolio-box:focus {
	outline: 0
}

@media (min-width:768px) {
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
	font-size: 16px
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
	font-size: 22px
}
}
/* Contato */
textarea {
	resize : none;
}
/* footer */

footer {
	color: white;
}
footer a {
	color: white;
	font-weight: 600;
}
footer a:hover {
	color: white;
}
#dadosSocial {
	color: rgba(180, 180, 180, 0.9);
}
#dadosSocial i {
	color: rgba(180, 180, 180, 0.9);
}
#dadosSocial a i:hover {
	color: rgba(255, 255, 255, 0.9);
}
.bg-pink {
	background-color: rgba(255, 0, 128, 0.9) !important;
}
#footer-end {
	padding: 25px;
	border-radius: 10px 10px 0 0;
}
#footer-end p {
	margin: 0;
}
.pdd-50 {
	padding: 50px;
}
